---
import type { ProductResult } from '@/types'

interface Props {
    product: ProductResult
}
// static/uploads/21f30ff218f542c581c6ce98cf4c04a0.jpg
const { product } = Astro.props
const imagePath = `${import.meta.env.PUBLIC_BACKEND_API}/${product.file_gambar}`
---

<a
    href=`/product/${product.barang_id}`
    class="group card card-compact w-full bg-base-100 shadow-xl"
>
    <figure class="relative min-h-80 lg:h-80">
        <img
            src={imagePath}
            alt={product.nama_barang}
            class="transision-transform scale-100 object-cover object-center duration-300 group-hover:scale-110 lg:h-full lg:w-full"
        />
        <div
            class="absolute bottom-0 left-0 right-0 h-full w-full transition-colors duration-300 group-hover:bg-neutral/10"
        >
        </div>
        <div
            class="absolute bottom-0 left-0 right-0 inline-flex h-10 w-full translate-y-1 items-center justify-center bg-primary font-semibold opacity-0 transition duration-300 group-hover:translate-y-0 group-hover:opacity-100"
        >
            BUY NOW
        </div>
    </figure>
    <div class="card-body z-10">
        <div class="card-title">
            <h class="group-hover:underline">{product.nama_barang}</h>
            <p class="text-right text-base">{product.harga} IDR</p>
        </div>
        <div class="badge badge-primary">{product.kategori.nama_kategori}</div>
    </div>
</a>
