---
import type { ProductDetailResult } from '@/types'
import ProductDisplayForm from './ProductDisplayForm.vue'
interface Props {
    product: ProductDetailResult
}

const { product } = Astro.props
const imagePath = `${import.meta.env.PUBLIC_BACKEND_API}/${product.file_gambar}`
const { kategori, list_varian } = product
---

<div class="flex grid-cols-2 flex-col gap-12 lg:grid">
    <figure>
        <img class="overflow-hidden rounded-xl" src={imagePath} alt={product.nama_barang} />
    </figure>
    <div class="space-y-4">
        <h2 class="text-4xl font-bold">{product.nama_barang}</h2>
        <p class="text-2xl font-semibold text-secondary">Rp {product.harga}</p>
        <a href=`/${kategori.kategori_id}` class="badge badge-primary">{kategori.nama_kategori}</a>
        <p>
            {product.deskripsi}
        </p>
        <ProductDisplayForm
            varians={list_varian}
        />
    </div>
</div>
