---
import type { SidebarItem } from '@/types'
import { Icon } from 'astro-icon/components'
import NavLink from '../NavbarLink.astro'

interface Props extends SidebarItem {
    currPermission: 'admin' | 'user'
    submenu?: SidebarItem[]
}

const { name, url = '', icon = '', submenu, permission, currPermission } = Astro.props

const show = !permission || permission == currPermission
---

{
    show && (
        <li>
            {submenu ? (
                <details open>
                    <summary>
                        {icon && <Icon name={icon} size={24} class="text-neutral-content" />}
                        {name}
                    </summary>
                    <ul>
                        {submenu.map(({ name, url, icon }) => (
                            <li>
                                <NavLink href={url}>
                                    {icon && (
                                        <Icon
                                            name={icon}
                                            size={24}
                                            class="text-neutral-content"
                                            class="text-neutral-content group-[.active]:text-primary"
                                        />
                                    )}
                                    {name}
                                </NavLink>
                            </li>
                        ))}
                    </ul>
                </details>
            ) : (
                <NavLink href={url}>
                    {icon && (
                        <Icon
                            name={icon}
                            size={24}
                            class="text-neutral-content group-[.active]:text-primary"
                        />
                    )}
                    {name}
                </NavLink>
            )}
        </li>
    )
}
